<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Viewer – Sign In</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="weather-logo"></div>
        </div>
    </div>

    <h2 class="text-center mb-5">Sign In</h2>

    <div th:if="${userError != null || passwordError != null}" style="color: red;">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4 col-md-6 col-sm-12">
                <div th:if="userError != null" class="alert alert-danger" role="alert">
                    Invalid username.
                </div>
                <div th:unless="passwordError" class="alert alert-danger" role="alert">
                    Invalid password.
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-lg-4 col-md-6 col-sm-12">
            <form th:method="POST" th:action="@{/auth/login}" th:object="${authForm}" class="mt-4">
                <div class="mb-3">
                    <label for="login" class="form-label">Login</label>
                    <div class="input-group has-validation">
                        <input type="text" th:class="'form-control '+${#fields.hasErrors('login') ? 'is-invalid' : ''}"
                               id="login" name="login" th:field="*{login}" required value=""/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Name
                            Error
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>

                    <div class="input-group has-validation">
                        <input type="password"
                               th:class="'form-control '+${#fields.hasErrors('password') ? 'is-invalid' : ''}"
                               name="password" id="password" th:field="*{password}" required value=""/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                            Name Error
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary w-100 mt-3">Sign In</button>
                <p class="mt-2 text-center">Don't have an account? <a th:href="@{/auth/registration}">Sign up here</a>
                </p>
            </form>
        </div>
    </div>
</div>

</body>
</html>